*.sw[po]
deps*/*
objs*/*
objs_dis*/*
asmouts*/*
preprocs*/*
assembler_disassembler/deps*/*
assembler_disassembler/objs*/*
assembler_disassembler/objs_dis*/*
assembler_disassembler/asmouts*/*
assembler_disassembler/preprocs*/*
assembler_disassembler/snow64_cpu_assembler_disassembler*
assembler_disassembler/src/gen_src/*
assembler_disassembler/*.elf
*.s.ignore
*.o
*.elf
*.gdb_history*
*tags
*types_*.taghl
*.txt.ignore
*.vvp
*.vhd
*.vcd
*.v
testing/*
a.out
*.E
*.html
hdl/v_outputs
hdl/*.sv
hdl/generated_single_source_file/*
hdl/generated_single_source_files/*
*.stp
algorithm_tests/*
docs/*/build
